*{
  margin: 0;
  padding: 0;
}
.urna{
    background-color: rgba(0, 0, 0, 0.315);
    -webkit-box-shadow: inset 9px 1px 100px 1px rgba(13, 12, 12, 0.5);
    align-items: center;
}
.titulo{
    text-align: center;
}
.botoes{
    
}
.h1{
    align-items: center;
}