*{
  margin: 0;
  padding: 0;
}
.urna{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    
}
.titulo{
    text-align: center;
    gap: 5px;
}
.botoes{
    align-items: center;
    margin: 10px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.315);
}
.confirmar{
display: flex;
align-items: center;
}
.br{
    background-color: white;
    height: 30px;
    width: 60px;
}
.verm{
    background-color: red;
     height: 30px;
    width: 60px;
}
.ver{
    background-color: green;
     height: 30px;
    width: 60px;
}
